h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1em;
    margin-left: 20%;
    margin-top: 5%;
}

table
{
    background-color: #171010;
    margin-left: 35%;
}
tbody
{
    padding: 50px;
}
th,td
{
    padding: 15px;
}

.num,.op
{
    width: 4rem;
    height: 4rem;
    color: azure;
    background-color: #2B2B2B;
}

.display-box
{
    height: 3rem;
    width: 18rem;
}